<form novalidate="novalidate">
  <center><b>Review Claim Data</b></center>
  <br>
  <fieldset class="inputs">
    <ol>
      <li class="input stringish">
        <label class="label">Claim Number</label>
        <input maxlength="255" type="text" value="<%= claim&.meta['data']['claim_number'] rescue '' %>" name="claim[claim_number]">
      </li>
      <li class="input stringish">
        <label class="label">Policy Number</label>
        <input maxlength="255" type="text" value="<%= claim&.meta['data']['policy_number'] rescue '' %>" name="claim[policy_number]">
      </li>
      <li class="input stringish">
        <label class="label">Type of Loss</label>
        <input maxlength="255" type="text" value="<%= claim&.meta['data']['type_of_loss'] rescue '' %>" name="claim[type_of_loss]">
      </li>
      <li class="input">
        <label class="label">Date of Loss</label>
        <input type="date" style="width: fit-content;" value="<%= claim&.loss_date rescue '' %>" name="claim[loss_date]">
      </li>
    </ol>
  </fieldset>

  <center><b>Review Items</b></center>
  <br>
  <fieldset class="inputs">
    <ol>
      <li class="input stringish">
        <label class="label">Item Name</label>
        <input maxlength="255" type="text" value="">
        <br>
        <br>
        <fieldset class="inputs">
          <ol>
            <li class="input stringish">
              <label class="label">Description</label>
              <input maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">Quantity</label>
              <input maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">Unit Price</label>
              <input maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">ACV</label>
              <input maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">RCV</label>
              <input maxlength="255" type="text" value="">
            </li>
          </ol>
        </fieldset>
      </li>
    </ol>
  </fieldset>
  <div class="buttons" style="float: right;">
    <input type="button" name="add" value="Add New Item" data-disable-with="Add New Item">
  </div>


<!-- <fieldset class="actions"><ol><li class="action input_action " id="admin_user_submit_action"><input type="submit" name="commit" value="Update Admin user" data-disable-with="Update Admin user"></li><li class="cancel"><a href="/admin/admin_users">Cancel</a></li></ol></fieldset> -->

</form>

<br><br><br>
<hr>
<br><br><br>
<div class="buttons" style="float: right;">
  <a href="<%= export_claims_url(format: :pdf) %>" target="_blank" >
    <input type="submit" name="commit" value="Export" data-disable-with="Export">
  </a>
</div>


<script type="text/javascript">

</script>
