<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="QUOTE - Request a quote for every type of companies">
  <meta name="author" content="Ansonika">
  <title>ClariClaim - Find Overlooked Claim Items!</title>

  <!-- Favicons-->
<!--  Add favicons-->
  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%= yield %>
</body>
<header>
  <a id="menu-button-mobile" class="cmn-toggle-switch cmn-toggle-switch__htx" href="javascript:void(0);"><span>Menu mobile</span></a>
  <nav class="main_nav">
    <ul class="nav nav-tabs">
      <li><a href="#tab_1" data-toggle="tab" class="active show">Request a quote</a></li>
      <li><a href="#tab_2" data-toggle="tab">About</a></li>
      <li><a href="#tab_3" data-toggle="tab">Contact</a></li>
    </ul>
  </nav>
</header><!-- /header -->

</html>
